<div>
    <h1 md-dialog-title> Congratulation! </h1>
    <md-dialog-content style="display:flex; justify-content: center; align-items: center">
        <div style="text-align: center; width:20vw">
            <br>
            <img src="assets/images/badges/{{badge.image_e}}" style="width:150px">
            <br>
            <br>
            <br>
            <!--<br>
            <br>
            <h4> You have been awarded
                <{{badge.name}}> badge. </h4>-->
        </div>
    </md-dialog-content>
    <md-dialog-actions style="display:flex; justify-content: center; align-items: center; margin:0px">
        <!--<button md-raised-button md-dialog-close style="width:50%">Close</button>-->
        <button md-button md-dialog-close style="width:50%; font-size:18px">Close</button>
    </md-dialog-actions>
</div>