.container-fluid {
    background-color: #c9cdd0;
    min-height: calc(100vh - 100px);
}

.container-fluid .row {
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 70px;
    padding-bottom: 70px;
}

.contact-form {
    border-width: 1px;
    border-style: ridge;
    border-color: gray;
    background: #e6ebee;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    padding: 5% 10%;
}

.contact-form label {
    font-size: 16px;
    color: #adb0b2;
}

.contact-form button {
    background: #fc582a;
    color: #fcc5b6;
    border-radius: 0px;
}

textarea {
    resize: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}